<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergencypartner">
    <!-- 추가한 코드 3줄 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 추가로 추가한 코드 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_mm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mm_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MemberInfo4Activity"></activity>
        <activity android:name=".MemberInfo3Activity" />
        <activity android:name=".MemberInfo2Activity" />
        <activity android:name=".MemberInfo1Activity" /> <!-- 추가한 코드 6줄 -->
        <activity android:name=".PwdFindActivity"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAVmfTrmB_IDnwnSHvA-4-DhbOdZVprrks" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- 추가한 코드 1줄 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CallCompleteActivity" />
        <activity android:name=".CallActivity" />
        <activity android:name=".StateActivity" />
        <activity android:name=".GuardianHomeActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>